### Compiled output
/lib

### Dependencies
node_modules

### server js
src/**/server/**/*.js
src/**/server/**/*.map.js
src/services/**/*.js
src/services/**/*.map.js
src/utils/**/*.js
src/utils/**/*.map.js
src/index.js
src/index.map.js

### IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

### Logs
*.log

### System Files
.DS_Store
Thumbs.db
