<mat-toolbar class="Header">
  <div class="Header-Title">
    <button mat-icon-button
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="clearCache()">
        <mat-icon>history</mat-icon>
        <span>Clear cache & reload</span>
      </button>
      <button mat-menu-item (click)="clearLs()">
        <mat-icon>restore_page</mat-icon>
        <span>Clear localStorage & reload</span>
      </button>
      <button mat-menu-item (click)="changeConfig()">
        <mat-icon>compare_arrows</mat-icon>
        <span>Change config</span>
      </button>
      <button mat-menu-item (click)="refreshPage()">
        <mat-icon>refresh</mat-icon>
        <span>Refresh page</span>
      </button>
    </mat-menu>

    <span>o365: Delve Widget</span>
  </div>

  <div class="Header-Date">
    <span class="Header-Day">{{ date }}</span>
    <span class="Header-Delimeter"></span>
    <span class="Header-Time">{{ time }}</span>
  </div>
</mat-toolbar>
