<div class="Home">

  <!---------------------------------------------------------------------->
  <!--                      Common actions block
  <!---------------------------------------------------------------------->

  <div class="Common">

    <!---------------------------------------------------------------------->
    <!--                        Common Toolbar
    <!---------------------------------------------------------------------->

    <mat-toolbar class="Common-Toolbar">
      Common actions
    </mat-toolbar>

    <!---------------------------------------------------------------------->
    <!--                        Card for o365 API
    <!---------------------------------------------------------------------->

    <!-- <app-card
      grid="true"
      title="App Profile Service"
      subtitle="Credentials storage"
      img="../../../assets/config.png"
      alt="App Profile Service"
      [link]="appProfile"
      linktext="Explorer it"
    >
      <p>App Profile Service UI</p>
    </app-card> -->

    Home works
  </div>

  <!---------------------------------------------------------------------->
  <!--                         Some block
  <!---------------------------------------------------------------------->

</div>
